{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "overrides": [
    // TypeScript file config
    {
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint"
      ]
    },
    // JavaScript file config
    {
      "files": "*.js",
      "env": {
        "node": true
      }
    }
  ]
}
