:root {
  --background-color: #fefefe;
  --text-color: #1b1b1b;
  --red-color: #f8caca;
  --yellow-color: #f8edca;
  --blue-color: #caeaf8;
  --purple-color: #e4d0f2;
  --green-color: #cef8ca;
  --grey-color: #8b8b8b;
  --light-grey-color: #eaeaea;

  --space-xxxs: 4px;
  --space-xxs: 8px;
  --space-xs: 12px;
  --space-s: 16px;
  --space-m: 24px;
  --space-l: 32px;
  --space-xl: 40px;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;
  background: var(--background-color);
  color: var(--text-color);
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}
